footer{
    background-color:#ebe6e6;
 color:black;
 font-size:14px;
 /* magin-top:70px; */
 padding-top:5px;
 padding-bottom:5px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position:bottom;
  position: static;
  
 
  
}