table, th, td {
    border: 1px solid;
    align-self: center;
    align-items: center;
    border: white;
     border-collapse: collapse;
     padding: 15px;
  }

table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1.5px solid black;
   
}
.center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  table td + td { border-left:1px solid black }
  
  th{
    border: 1px solid black;
    font-size: 18px;
    width: 70px;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .app{
    display: flex;
    justify-content: center;
    align-items: center;
  }
td{
  font-size: 17px; 
}
.branch button{
    padding-right:20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.branch{
    padding-top: 70px;
    padding-bottom: 230px;
}
.branch a{
  text-decoration: none;
  color: black;
}
.branch h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}
table th{
border: 1px solid black;
}

  
